<launch>
    <arg name="size_threshold" default="50000"/>
    <arg name="param_file" default="$(find nbveplanner)/resource/exploration_indoor.yaml"/>

    <node name="frontierClustering" pkg="frontier_clustering" type="frontierClustering" output="screen"
          args="-alsologtostderr --v=0">
        <param name="size_threshold" type="double" value="$(arg size_threshold)"/>
        <rosparam command="load" file="$(arg param_file)"/>
    </node>
</launch>