<launch>
    <arg name="size_threshold" default="50000"/>
    <arg name="min_num_voxels" default="20"/>
    <arg name="h_cylinder" default="4.0"/>
    <arg name="radius_cylinder" default="4.0"/>
    <arg name="num_viewpoints" default="50"/>
    <arg name="tf_frame" default="map"/>
    <arg name="camera_frame" default="camera"/>
    <arg name="pcl_topic" default="/r200/depth/points"/>
    <arg name="sensor_max_range" default="5.0"/>
    <arg name="sensor_min_range" default="0.1"/>
    <arg name="method" default="fast"/>
    <arg name="voxel_size" default="0.1"/>
    <arg name="color_mode" default="color"/>
    <arg name="param_file" default="$(find frontier_clustering)/config/general_params.yaml"/>

    <node name="frontierClustering" pkg="frontier_clustering" type="frontierClustering" output="screen"
          args="-alsologtostderr --v=0">
        <param name="size_threshold" type="double" value="$(arg size_threshold)"/>
        <param name="min_num_voxels" type="int" value="$(arg min_num_voxels)"/>
        <param name="h_cylinder" type="double" value="$(arg h_cylinder)"/>
        <param name="radius_cylinder" type="double" value="$(arg radius_cylinder)"/>
        <param name="num_viewpoints" type="int" value="$(arg num_viewpoints)"/>
        <param name="tf_frame" type="string" value="$(arg tf_frame)"/>
        <param name="camera_frame" type="string" value="$(arg camera_frame)"/>
        <param name="sensor_max_range" type="double" value="$(arg sensor_max_range)"/>
        <param name="sensor_min_range" type="double" value="$(arg sensor_min_range)"/>
        <rosparam command="load" file="$(arg param_file)"/>

        <!-- VOXBLOX PARAMETERS -->
        <remap from="pointcloud" to="$(arg pcl_topic)"/>

        <param name="tsdf_voxel_size" value="$(arg voxel_size)"/>
        <param name="tsdf_voxels_per_side" value="16"/>
        <param name="min_time_between_msgs_sec" value="0.1"/>
        <param name="min_ray_length_m" value="$(arg sensor_min_range)"/>
        <param name="max_ray_length_m" value="$(arg sensor_max_range)"/>
        <param name="voxel_carving_enabled" value="true"/>
        <param name="color_mode" value="$(arg color_mode)"/>
        <param name="use_const_weight" value="false"/>

        <param name="publish_tsdf_map" value="false"/>
        <param name="publish_esdf_map" value="false"/>
        <param name="update_esdf_every_n_sec" value="0.1"/>
        <param name="update_mesh_every_n_sec" value="0.15"/>

        <param name="method" value="$(arg method)"/>
        <param name="allow_clear" value="true"/>

        <param name="use_tf_transforms" value="true"/>
        <param name="world_frame" value="$(arg tf_frame)"/>
        <param name="clear_sphere_for_planning" value="true"/>
        <param name="clear_sphere_radius" value="0.4"/>
        <param name="occupied_sphere_radius" value="0.0"/>
        <param name="verbose" value="false"/>

    </node>
</launch>